*{
    box-sizing: border-box;
}

body{
    font-size: 20px;
}

a{
    color: #af4f4f;
    text-decoration: underline;
    text-decoration-style:dashed;
}

a:hover{
    color: #ff5080;
    text-decoration: none;
}

a:visited{
    color: #af4f4f;
}

.mybar{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.mybar img{
    border: 2px solid #2e2e2e;
}

.nav-list{
    list-style: none;
    float: right;
    margin-left: 10px;
}

.nav-list li{
    float: left;
    margin: 10px;
    font-size: 1.5em;
    color: white;
}


.nav-list li>a{
    color: white;
    text-decoration: none;
}

.nav-list li>a:hover{
    background-color: #bbbbbb;
}


#contents, #contents>ol,#contents a{
    padding: 1px;
    margin: 0px;
    text-align: center;
}

#contents li{
    list-style: none;
    border: 2px;
    margin: 0px 0px 3px 0px;
    min-height: 80px;
    background-color: burlywood;
    overflow: hidden;
}

.footer{
    text-align: center;
    background-color: #000000;
    color: aliceblue;
    width:100%;
}

.home-tile{
    max-width: 300px;
    max-height: 300px;
    padding:15px;
    border:5px solid #a0a0a0;
    margin:30px;
}

.home-tile:hover{
    transform: scale(1.1);
}

#home-area{
    text-align: center;
}

#home-area div{
    float: left;
}

.article div{
    float: left;
}

.person{
    height: 300px;
    width:300px;
    padding: 30px;
    margin: 10px;
    float: left;
}